.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 85%;
  margin: 25px;
  padding: 25px;
  border-top: 0 !important;
}

.table .td,
.table .th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table .tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table .tr:hover {
  background-color: #ddd;
}

.table .th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: blue;
  color: white;
}

.pagination_button_sales_table {
  margin-left: 10px;
}

.pagination_sales_table {
  font-family: arial;
  font-size: 16px;
  margin: 25px;
  width: 1500px;
  height: 50px;

  /* Center child horizontally*/
  display: inline-flex;
  justify-content: center;
}

.pagination_sales_table > div {
  margin: 3px;
}

.photo_jewelry_table {
  width: 100px;
  height: 100px;
}

.paid_supplier {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.resize {
  right: 0;
  background: blue;
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}
/* Newly added code */

/* Below code is the width from EditableCell.js . */
/* You wanted all the css to in the CSS file  */
.table .td > .editable-cell {
  width: 100%;
}

/* Below code removes the  annoying grey line  */
.table > :not(:first-child) {
  border-top: 0 !important;
}
